<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javaproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logoo"
        android:label="Guhantara Resort"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main3Activity"></activity>
        <activity android:name=".trekkingActivity" />
        <activity android:name=".RopeClimbingActivity" />
        <activity android:name=".HorseRidingActivity" />
        <activity android:name=".DirtBikingActivity" />
        <activity android:name=".RiverRaftingActivity" />
        <activity android:name=".FootballActivity" />
        <activity android:name=".CricketActivity" />
        <activity android:name=".GolfActivity" />
        <activity android:name=".TennisActivity" />
        <activity android:name=".BasketBall" />
        <activity android:name=".CaromActivity" />
        <activity android:name=".BadmintonActivity" />
        <activity android:name=".ChessActivity" />
        <activity android:name=".TableTennisActivity" />
        <activity android:name=".SnookerActivity" />
        <activity android:name=".BillActivity" />
        <activity android:name=".ItalianActivity" />
        <activity android:name=".SouthIndianActivity" />
        <activity android:name=".NorthIndianActivity" />
        <activity android:name=".ChineseActivity" />
        <activity android:name=".GuhantaraActivity" />
        <activity android:name=".DiscoActivity" />
        <activity android:name=".AdventureActivity" />
        <activity android:name=".OutdoorActivity" />
        <activity android:name=".IndoorActivity" />
        <activity android:name=".FinalActivity" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".SuiteActivity" />
        <activity android:name=".DeluxeActivity" />
        <activity android:name=".RegularActivity" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".FunActivity" />
        <activity android:name=".RoomActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>